.rating-css {
  height: 80px;
  width: 400px;
  padding: 20px;
}

.rating-css div {
  color: gold;
  font-size: 30px;
  font-family: 'Merriweather', 'Roboto Slab', serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;


  direction: ltr;
}

.rating-css input {
  display: none;
  transition: all 0.5s;
}

.rating-css input + label {
  font-size: 60px;
  text-shadow: 1px 1px 0 gold;
  cursor: pointer;
  transition: all 0.5s;
}

.rating-css input:checked + label ~ label {
  color: white;

  text-decoration: none;
  transition: all 0.5s;
}

.rating-css input:hover + label{
  color: gold;
  transform: scale(1.3);
}

.rating-css label:active {
  transition: 0.3s ease;
}

