html{
	font-family: 'Merriweather', 'Roboto Slab', serif;
	color: #050505;
}

body{
	margin: 0px;
	background-color: #b2babb;
	background-position:center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color:#050505;
	line-height: 1.71429;
	font-weight: 400;
	letter-spacing: 0;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}
h1{
	font-family:'Merriweather', 'Roboto Slab', serif;
	font-weight: 400;
	color:#145a32 ;
	text-align:center;
}

#autorTitulo{
	font-family:'Merriweather', 'Roboto Slab', serif;
	color:#050505;
	text-align: right;
	padding-right: 60px;
}

h2{
	font-family:'Merriweather', serif;
	color:#ffffff;
	text-align:center;
}
h3{
	color:#050505; /*color letra*/
	font-size: 16px;
}

form{
	background-color: #145a32;
	padding: 2em;
	padding-bottom: 3em;
	border-radius: 16px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	max-width: 600px;
}

Form fieldset{
	padding: 2em;
	border: 0;
}

input[type=text],input[type=password]{
	width: 100%;
	padding: 16px 20px;
	margin: 8px 0;
	border-radius: 12px;
	box-sizing: border-box;
	font-family: 'Merriweather', 'Roboto Slab', serif;
	color:#050505;
	background-color:#ffffff;
}



input[type=submit] {
	font-family: 'Merriweather', 'Roboto Slab', serif;
	background: #F5F5F7;
	border-radius: 12px;
	border: none;
	color: 050505; /*color de letra*/
	padding: 16px 32px;		
	text-decoration: none;	
	text-align: center;
	font-size: 18px;
	margin: 10px 2px;
	cursor: pointer;
	width:100%;
	overflow: hidden;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}

input[type=submit]:hover {
    transform: translateY(-4px);
}

.animate{
      animation: grow .5s linear;
}

#loginProcess{
	background-color: #050505;
	background-position:center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#buttonProcess{
	font-family: 'Merriweather', 'Roboto Slab', serif;
	background: url("../images/botonfondo.jpg");
	border-radius: 12px;
	border: none;
	color: 050505; /*color de letra*/
	padding: 16px 32px;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	margin: 10px 2px;
	cursor: pointer;
	width:17%;
	overflow: hidden;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}
#listArticulos
{
	background: url("../images/FotoFondoHome.jpg");
}

#buttonProcess:hover {
    transform: translateY(-4px);
}

/*Hide all except first fieldset*/
form fieldset:not(:first-of-type) {
	display: none;
}

p{
	text-align:justify;
	color:black;
	padding:0;
	margin:0;
	font-size:20px;
}

#fechaactual{
	text-align:justify;
	color:#050505;
	padding:0;
	margin:0;
	font-size:30px;
}

#footer{
	width:100%;
	bottom:0px;
	background-color: #82e0aa;
	padding-top: 40px;
	padding-bottom: 30px;
}

#footer h3{
	font-family: 'Roboto Slab', serif;
	color:black;
}


input[type=button]{
	font-family: 'Merriweather', 'Roboto Slab', serif;
	background: url("../../images/botonfondo.jpg");
	border-radius: 12px;
	border: none;
	color: 050505; /*color de letra*/
	padding: 16px 32px;		
	text-decoration: none;	
	text-align: center;
	font-size: 18px;
	margin: 10px 2px;
	cursor: pointer;
	overflow: hidden;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}

#centro input[type=button]{
	width:30%;
}

#logo img{
	padding-top: 1px;
    height: 100px;
    margin: 1px;
    float: left;
	padding-left: 60px;
}

#foto img{
	width:150px;
	height:150px;
	margin: 10px;
	float:center;
}

#Articulos{
    display: flex;
}

#CuadroArticulo{
    display: inline-block;
    margin: 20px 10px;
    border: 1px solid #fff;
    width: 360px;
    position: relative;
    padding: 2em;
	margin: 0px auto;
	padding-top: 50px;
	padding-bottom: 100px;
}

#CuadroArticulo button{
    font-family: 'Merriweather', 'Roboto Slab', serif;
	background: url("../../images/botonfondo.jpg");
	border-radius: 12px;
	border: none;
	color: white; /*color de letra*/
	padding: 16px 32px;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	margin: 10px 2px;
	cursor: pointer;
	width:100%;
	overflow: hidden;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}

#CuadroArticulo button:hover {
    transform: translateY(-4px);
}

#fotosArticulo{
	height: 105px;
	margin: 0px auto;
	text-align: center;
}
