@charset "UTF-8";

#listProductos,#listCarrito,#listTarjetas{ 
	width: 100%;
    margin: auto;
    padding: 0 50px;
}
#detalleProducto{
	margin:5px 10px;
	padding:3px;
	position:relative;	
}

#detalleProducto img{
	padding-top: 20px;
	height: 300px;
	margin: 1px;
}

.unit-body{
	display: inline-block;
	margin: 20px 10px;
	border: 1px solid #fff;
	padding:3px;
	width:235px;
	position:relative;	
	padding: 2em;
}
.unit-body center img{
	max-width:230px;
	max-height:160px;
}
a:focus,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0;
}


/*
*
* Typography
*/


h6,
.heading-6 {
	font-size: 18px;
	font-weight: 500;
	font-family: 'Merriweather', 'Roboto Slab', serif;
	line-height: 1.33333;
	letter-spacing: .01em;
	margin: 0;
}


/*
*
* Links
*/
a {
	transition: all 0.3s ease-in-out;
	font-weight:bold;
}

a, a:focus, a:active, a:hover {
	text-decoration: none;
}

a, a:focus, a:active {
	color: #050505;
}

a:hover {
	background: url("../../images/botonfondo.jpg");
}

a[href*='tel'], a[href*='mailto'] {
	white-space: nowrap;
}

/*
*
* Buttons
*/
.button {
	position: relative;
	overflow: hidden;
	display: inline-block;
	min-width: 200px;
	padding: 19px 32px 17px;
	font-size: 14px;
	line-height: 1.34;
	border: 2px solid;
	font-weight: 500;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	transition: 250ms all ease-in-out;
	width:24%;
	margin:0;
	color: #050505;
}

.button-block {
	display: block;
	width: 100%;
}

.button-secondary, .button-secondary:focus {
	color: #050505;
	background: url("../../images/botonfondo.jpg");
}

.button-secondary:hover, .button-secondary:active {
	color: #050505;
	background-color: #151515;
	border-color: #151515;
}

.button-secondary.button-ujarak::before {
	background: #151515;
}

.button-carrito {
	position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 8px;
  font-size: 11px;
  line-height: 1.34;
  border: 2px solid;
  font-weight: 500;
  letter-spacing: 0.075em;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all ease-in-out;
  margin: 0;
  color: #050505;
  text-transform: uppercase;
}
.button-eliminar, .button-eliminar:focus {
	color: #050505;
	background: url("../../images/botonfondo.jpg");
}
.button-eliminar:hover, .button-eliminar:active {
	color: #050505;
	background: url("../../images/botonfondo.jpg");
}
.button-agregar, .button-eliminar:focus {
	color: #050505;
	background: url("../../images/botonfondo.jpg");
}
.button-agregar:hover, .button-eliminar:active {
	color: #050505;
	background: url("../../images/botonfondo.jpg");
}
/*
*
* Product
*/
.product {
	position: relative;
	text-align: center;
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
}
.product-title{
	color: white;
	font-size:20px;
	text-align:center;	
	min-height:60px;
}
.product-title a{
	vertical-align:middle;
}
.product-price-wrap{
	color: white;
	font-size:30px;
	text-align:center;
}
.foto{
	min-height:160px;
}

#delete a, a:focus, a:active {
	color: #000;
}