@charset "UTF-8";
#listLibros {
 width: 90%;
 margin: auto;
 padding: 0 50px;
}
#detalleProducto {
 margin:5px 10px;
 border: 1px solid #fff;
 padding:3px;
 position:relative;
}
.unit-body {
 display: inline-block;
 margin:5px 10px;
 border: 1px solid #fff;
 padding:3px;
 max-width:235px;
 position:relative;
}
.unit-body center img {
 max-width:230px;
 max-height:160px;
}
a:focus,
button:focus {
 outline: none !important;
}
button::-moz-focus-inner {
 border: 0;
}


/*
*
* Typography
*/

h6,
.heading-6 {
 font-size: 18px;
 font-weight: 500;
 font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 line-height: 1.33333;
 letter-spacing: .01em;
 margin: 0;
}


/*
*
* Links
*/
a {
 transition: all 0.3s ease-in-out;
 font-weight:bold;
}
a,
a:focus,
a:active,
a:hover {
 text-decoration: none;
}
a,
a:focus,
a:active {
 color: #3c6a36;
}
a:hover {
 color: #eda407;
}
a[href*='tel'],
a[href*='mailto'] {
 white-space: nowrap;
}

/*
*
* Buttons
*/
.button {
 position: relative;
 overflow: hidden;
 display: inline-block;
 min-width: 200px;
 padding: 19px 32px 17px;
 font-size: 14px;
 line-height: 1.34;
 border: 2px solid;
 font-weight: 500;
 letter-spacing: 0.075em;
 text-transform: uppercase;
 white-space: nowrap;
 text-overflow: ellipsis;
 text-align: center;
 cursor: pointer;
 vertical-align: middle;
 user-select: none;
 transition: 250ms all ease-in-out;
 width:100%;
 margin:0;
}
.button-block {
 display: block;
 width: 100%;
}
.button-secondary,
.button-secondary:focus {
 color: #ffffff;
 background-color: #eda407;
 border-color: #eda407;
}
.button-secondary:hover,
.button-secondary:active {
 color: #ffffff;
 background-color: #151515;
 border-color: #151515;
}
.button-secondary.button-ujarak::before {
 background: #151515;
}

/*
*
* Product
*/
.product {
 position: relative;
 text-align: center;
 max-width: 270px;
 margin-left: auto;
 margin-right: auto;
}
.product-title {
 font-size:20px;
 text-align:center;
}
.product-price-wrap {
 font-size:30px;
 text-align:center;
}
.foto {
 min-height:160px;
}
