table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th{
  background-color: #000;
  color:#fff;
}

tr:hover{background-color: yellow;}

table td {
  padding: .625em;
  text-align: center;
  word-wrap: break-word;
}
table td .anchoColumna{
	width:150px;
}
table td img{
  max-width: 70px;
}






